html,body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}
p{
  text-align: justify;
}

#loading {
  /*border: 1px solid;*/
  min-height: 40px;
}

.spin {
  width: 50px !important;
  height: 50px !important;
}
.header{
  min-height: 20px;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  margin: 0em !important;
}
.header.ui{
  margin:0rem;
  background-color: #FFFFFF; 
  font-size: 0px; 
  font-weight: normal !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.main-logo{
  max-width:50% !important;
  max-height:50% !important;
}
img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto;
}


.main-page{
  margin: 0em !important;
  text-align: center !important;
  padding: 8.5% 0% !important;
}
.main-part{
  text-align: center !important;
}
.main-search{
  padding: 1em 0em;
}
.main-suggest a{ 
  color: rgb(168,203,23);
  text-decoration: none;

}
.main-suggest{
  margin: 4em auto 2em auto;
}
.f_img{
  padding: 0em;
}
.footer a{
  color: #666;
  text-decoration: none;
  padding: 0em 0.3em;
}
.footer{
  border-top: 1px solid #e4e4e4 !important;
  margin: 0em !important;
} 
.ebookt{
  min-height: 40px !important;
  border-top: 1px solid #e4e4e4;
  background-color: #4f4b4b !important;
  color: #EEEEEE;
}
.ebookb{
  min-height: 50px !important;
  background-color: #f2f2f2 !important;
  vertical-align: middle;
}

.ebookb p{
  color: #666 !important;
  font-size: 1em;
}
.ebookb a{
  color: #666 !important;
}
.ebookb a:hover{
  color: #000 !important;
}